.product {
  border: 1px solid gainsboro;
  border-radius: 0.25rem;
}

.product > .header {
  display: flex;
  justify-content: space-between;
  background-color: gainsboro;
  padding: 0.5rem;
}

.product > .body {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.product > .footer {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.img {
  width: 15rem;
}
